@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: "Rajdhani", sans-serif;
  background-color: #0a0a0f;
}

/* Removes default autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px #0e0b1e inset !important;
  box-shadow: 0 0 0px 1000px #0e0b1e inset !important;
  transition: background-color 9999s ease-in-out 0s;
}